/* START: reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --min_height_header: 400px;
    --min_height_head_cont: 30px;
    --width_nav_c: 75%;
}

/* END: reset */

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightblue;
    min-height: var(--min_height_header);
}

/* START: barra di navigazione */
.nav_flex_container{

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: orange;
    min-height: var(--min_height_head_cont);
    width: 80%;
    margin: auto;

}

.card_l{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    min-height: var(--min_height_head_cont);
    width: calc((100% - var(--width_nav_c))/2 );
    border: 1px solid black;
    padding-left: 10px;
}

.card_c{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    min-height: var(--min_height_head_cont);
    width: var(--width_nav_c);
    border: 1px solid black;
}

.card_r{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    min-height: var(--min_height_head_cont);
    width: calc((100% - var(--width_nav_c))/2 );
    border: 1px solid black;
    padding-right: 10px;
}
/* END: barra di navigazione */

/* START: barra di download */
.down_flex_container{

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    background-color: blue;
    width: 100%;
    min-height: calc(var(--min_height_header) - 50px);
    
}

.pink_box{
    background-color: violet;
    width: 55%;
    min-height: 300px;
    margin: auto;
}
/* END: barra di download */
